<div class="container">
    <br />
    <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="!loading">
        <h3>{{ entity.title }} - <small>{{ code }}</small></h3>
        <hr />
        <p>Release ID: {{ entity.releaseId }}</p>
        <p>Release Date: {{ entity.releaseDate }}</p>
        <div *ngIf="entity.child.length > 0">
            <h5>Child</h5>
            <p *ngFor="let child of entity.child">{{ child }}</p>
        </div>
    </div>
</div>