<div class="container">
    <div class="search-header">
        <h4>Search Result for <b>{{ entity }}</b></h4>
        <div class="search-bar">
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="entity" class="form-control" placeholder="Search entity"
                    aria-label="Search entity" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()">Submit
                    Search</button>
            </div>
        </div>
        <hr />
    </div>
    <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="table-container" *ngIf="!loading">
        <p class="d-flex justify-content-center" *ngIf="entities.length === 0">No search results</p>
        <ol class="list-group" *ngIf="entities.length">
            <li class="list-group-item" *ngFor="let entity of entities; index as i">
                <div class="p-2 rounded d-flex flex-row align-items-center">
                    <div class="p-1 px-4 d-flex flex-column align-items-center score rounded"> 
                        <span class="d-block char text-success">Score</span> <span class="text-success">{{ (entity.score * 100).toFixed()}}</span> 
                    </div>
                    <div class="ml-2 p-3">
                        <h6 class="heading1 list-group-item-heading" [innerHTML]="entity.title"></h6> <span>{{ entity.theCode }}</span>
                        <hr/>
                        <ul *ngFor="let pv of entity.matchingPVs index as i">
                            <li [innerHtml]="pv.label"></li>
                            <!-- <div class="col-md-3">
                            <button class="btn btn-link sm" (click)="viewMore(pv.foundationUri)">View More</button>
                            </div> -->
                        </ul>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>